<footer>
  <p>Argentina Content</p>
  <p>Copyright 2025 by Dherrera</p>
</footer>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="/cine-argentum/js/lightslider.js"></script>
<script src="/cine-argentum/js/script.js"></script>
